
.DS_Store
taskManager/__pycache__/__init__.cpython-38.pyc
taskManager/__pycache__/forms.cpython-38.pyc
taskManager/__pycache__/misc.cpython-38.pyc
taskManager/__pycache__/models.cpython-38.pyc
taskManager/__pycache__/settings.cpython-38.pyc
taskManager/__pycache__/taskManager_urls.cpython-38.pyc
taskManager/__pycache__/urls.cpython-38.pyc
taskManager/__pycache__/views.cpython-38.pyc
taskManager/__pycache__/wsgi.cpython-38.pyc
taskManager/migrations/.DS_Store
taskManager/migrations/__pycache__/0001_initial.cpython-38.pyc
taskManager/migrations/__pycache__/0002_auto_20141010_2102.cpython-38.pyc
taskManager/migrations/__pycache__/0003_auto_20141028_1913.cpython-38.pyc
taskManager/migrations/__pycache__/0004_task_completed.cpython-38.pyc
taskManager/migrations/__pycache__/0005_project_user.cpython-38.pyc
taskManager/migrations/__pycache__/0006_auto_20141209_0644.cpython-38.pyc
taskManager/migrations/__pycache__/0007_delete_assignproject.cpython-38.pyc
taskManager/migrations/__pycache__/0008_project_users_assinged.cpython-38.pyc
taskManager/migrations/__pycache__/0009_task_users_assinged.cpython-38.pyc
taskManager/migrations/__pycache__/0010_auto_20141211_1914.cpython-38.pyc
taskManager/migrations/__pycache__/0011_notes_user.cpython-38.pyc
taskManager/migrations/__pycache__/0012_notes_image_url.cpython-38.pyc
taskManager/migrations/__pycache__/0013_userprofile.cpython-38.pyc
taskManager/migrations/__pycache__/0014_auto_20141224_2059.cpython-38.pyc
taskManager/migrations/__pycache__/0015_auto_20141224_2123.cpython-38.pyc
taskManager/migrations/__pycache__/0016_auto_20141227_0256.cpython-38.pyc
taskManager/migrations/__pycache__/0017_auto_20141227_0427.cpython-38.pyc
taskManager/migrations/__pycache__/0018_task_title.cpython-38.pyc
taskManager/migrations/__pycache__/0019_notes_title.cpython-38.pyc
taskManager/migrations/__pycache__/0020_auto_20150316_0621.cpython-38.pyc
taskManager/migrations/__pycache__/0021_task_due_date.cpython-38.pyc
taskManager/migrations/__pycache__/0022_auto_20150322_2350.cpython-38.pyc
taskManager/migrations/__pycache__/0023_auto_20150324_1650.cpython-38.pyc
taskManager/migrations/__pycache__/0024_auto_20150324_1737.cpython-38.pyc
taskManager/migrations/__pycache__/0025_auto_20150324_2340.cpython-38.pyc
taskManager/migrations/__pycache__/0026_auto_20150324_2342.cpython-38.pyc
taskManager/migrations/__pycache__/0027_auto_20150324_2346.cpython-38.pyc
taskManager/migrations/__pycache__/0028_auto_20150325_0010.cpython-38.pyc
taskManager/migrations/__pycache__/0029_auto_20150325_0015.cpython-38.pyc
taskManager/migrations/__pycache__/0030_auto_20150325_0023.cpython-38.pyc
taskManager/migrations/__pycache__/0031_auto_20150325_0112.cpython-38.pyc
taskManager/migrations/__pycache__/0032_auto_20150325_0155.cpython-38.pyc
taskManager/migrations/__pycache__/0033_auto_20150325_0159.cpython-38.pyc
taskManager/migrations/__pycache__/0034_auto_20150921_1829.cpython-38.pyc
taskManager/migrations/__pycache__/0035_auto_20150921_2024.cpython-38.pyc
taskManager/migrations/__pycache__/0036_auto_20150921_2024.cpython-38.pyc
taskManager/migrations/__pycache__/0037_auto_20150921_2025.cpython-38.pyc
taskManager/migrations/__pycache__/0038_auto_20150921_2027.cpython-38.pyc
taskManager/migrations/__pycache__/__init__.cpython-38.pyc
taskManager/static/.DS_Store
taskManager/static/taskManager/.DS_Store
taskManager/static/taskManager/font/.DS_Store
taskManager/static/taskManager/img/.DS_Store
taskManager/static/taskManager/js/.DS_Store
taskManager/templates/.DS_Store
taskManager/templates/taskManager/.DS_Store
taskManager/templates/taskManager/tutorials/.DS_Store
